* {
  font-family: "Press Start 2P", cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #dddd;
}

canvas {
  border: 1px solid black;
  border-radius: 8px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: black;
}

.container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 8px;
}

.info {
  padding: 10px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.controls {
  text-align: center;
}

.button {
  height: 50px;
  width: 175px;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.button:hover {
  background: #dddd;
  border: 1px solid green;
}
